body {
    text-align: center;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

#hero {
    margin: 0;
    background-image: url("cairo2.webp");
    background-size: cover;
    height: 720px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-title {
    background: #264653;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
}

#hero-sub-title {
    background: #F4A261;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

.activity-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#activities-header {
    margin: 0 0 40px 0;
}

.activity-title {
    font-weight: 700;
}

.activity-subtitle {
    width: 200px;
}

#activities-container {
    padding: 40px 0;
    margin: 0;
    background: #F1FAEE;
    color: #264653;
}

#activities-list {
    display: flex;
    justify-content: space-around;
}

#guide-container {
    padding: 50px;
}

#guide-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9C46A;
    width: 460px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    border-bottom: 5px solid #264653;
    color: #264653;
}

#guide-id {
    margin-left: 30px;
}

#statement {
    width: 200px;
}

#guide-img {
    width: 200px;
    border-radius: 10px;
}

#name {
    font-weight: 600;
}
